<launch>
	
<!--When have .pcd file, use this node to convert the .pcd file to the message which type is "octomap_msgs::Octomap"-->
	<node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_to_pointcloud" args="/home/molmc-chy/SLAM-proj/cloud_map_filtered.pcd 0.5">
                	<param name="frame_id" type="string" value="map" />
	</node>

	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
			<param name="resolution" value="0.05" />
		
			<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
			<param name="frame_id" type="string" value="map" />
		
			<!-- maximum range to integrate (speedup!) -->
			<param name="sensor_model/max_range" value="5.0" />
		
			<!-- data source to integrate (PointCloud2) -->
			<remap from="cloud_in" to="/cloud_pcd" />
	</node>

	<node pkg="path_planning" type="timed_roslaunch.sh" args="10 octomap_server octomap_saver /home/molmc-chy/SLAM-proj/octomap_map_filtered.bt" name="timed_roslaunch" output="screen" required="true"/>

</launch>
